*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.psd
*/Thumbs.db

*/packages/*
*/*/packages/*
*/*/*/packages/*
*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*
*/*/*/bin/*
*/*/*/obj/*
*/*/*/*/bin/*
*/*/*/*/obj/*

*/samples/*
*/sample/*
*/*/samples/*
*/*/sample/*
*/*/*/samples/*
*/*/*/sample/*
